/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #45badd;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./robot.gif);
  background-size:contain;
  background-position: left center;
  background-repeat: no-repeat;
}

