/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
/* ROBOT.GIF from Giphy - <iframe src="https://giphy.com/embed/S60CrN9iMxFlyp7uM8" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/chatbot-digitalesmarketing-marketing-S60CrN9iMxFlyp7uM8">via GIPHY</a></p>*/

html {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #45badd;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./robot.gif);
  background-size:contain;
  background-position: left center;
  background-repeat: no-repeat;
}
button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border-radius: 6px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2)
}
button:hover{
  filter: brightness(90%);
}
button:active{
  transform: scale(0.95)
}
button:disabled{
  cursor: default;
  filter:brightness(30%)
}
/* tablet or smaller mobile screens */

@media screen and (max-width: 1000px) {
  .container{
    background-position: center center;
    background-size: cover;
  }
  button{
    box-shadow: 5px 5px 30px 20px rgba(0,0,0,0.5);
  }
}