@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Kaushan Script',
    cursive;
    background-color: aliceblue;
}

h1{
    text-align: center;
    margin-top: 25px;
    margin: bottom 15px;
    font-size: 2rem;
    letter-spacing:2px;
}
/* loader styles */

.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(255,255,255,0.7);
}
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* image styles */
.image-container{
    margin: 10px 30%;
}

.image-container img{
    width: 100%;
    margin-top: 5px;
}

/* for smartphones */
@media screen and (max-width:600px){
    h1{
        font-size: 1.5rem;
    }
    .image-container{
        margin: 10px;
    }
    
}